/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-family: courier new, arial, sans-serif; 
  color: #373fff;
}

button {
  padding: 10px;
  border-radius: 10px;
}
